[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "VorteksExport"]
	path = VorteksExport
	url = https://github.com/cran/VorteksExport
	shallow = true
	registered = true
